{% extends 'base.html' %}


{% block css %}
<style type="text/css">
	body{
		background-image: url("https://tinyurl.com/back12321");
		background-size: 100%;
	}
	body.image{
		opacity: 0.4;
	}
	.intro{
		
		padding-top: 6%;

	}
	.headline{
		padding-top: 1%;
		text-align: center;
	}
	.lead{
		text-indent: 3%;
	}
	.description{
		padding-top: 3%;
	}
</style>
{% endblock %}


{% block cont_ex %}

<div class="headline">
	<h1 class="display-3">Manant.corp</h1>
</div>



<div class="container intro">
	<div class="row justify-content-between">
		<div class="col-4">
			<img src="https://tinyurl.com/y8c4avze" alt="" class="img-thumbnail">
		</div>
		<div class="col-8 lead description">
				The Maratha noblewoman Tarabai was the head of a family that was a rival claimant to the Chhatrapati title. Originally a rival of Chhatrapati Shahu, she later pretended reconciliation with him. In the 1740s, during the last years of Shahu's life, Tarabai brought a child to him: Rajaram II. She presented the child as her grandson, and thus, a direct descendant of Shivaji. Shahu adopted the child, and after his death in 1749, Rajaram II succeeded him as the Chhatrapati.<br/><br/> The next year, Peshwa Balaji Rao left to fight against the Nizam of Hyderabad. In his absence, Tarabai urged Rajaram II to remove him from the post of Peshwa. When Rajaram refused, she imprisoned him in a dungeon at Satara, on 24 November 1750. She claimed that he was an impostor, and that she had falsely presented him as her grandson. Tarabai was unsuccessful in getting support from other ministers and the Nizam Salabat Jung. However, she managed to enlist the help of another noblewoman, Umabai Dabhade.[6]

			
		</div>
	</div>
</div>




{% endblock cont_ex %}